body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background:#222 ;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}

.card{
    background: #000000d0;
    color: white;
    padding: .5em;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 1em;
}
.card>h3, .card>p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card>p{
    margin: 2px;
    padding: 1px;
}
.search{ 
    display: flex;

}  
input.text{
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(90% - 100px);
}
.network-icon{
    height: 50px;
    width: 50px;
  display: none; 
    margin: auto; 
}

#small{
  color:red;
    display:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin:0;
    padding:0;
}

